
.section-header{
    background: linear-gradient(0deg, rgba(17, 47, 43, 0.548), rgba(5, 5, 5, 0.705)), url('../../../images/pexels-cleyder.png') no-repeat;
    background-position:center;
    background-size: cover;
    color:white;
    text-shadow: 1px 1px 30px rgba(0, 255, 255, 0.829);
    padding:2rem 0;
}