.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Rubik:wght@400;500;600&display=swap');


h1,h2,h3,h4,h5,a,button{
  font-family: 'Rubik', sans-serif;
}
p,span,ul,li{
  font-family: 'Roboto', sans-serif;
}
